.row {
    margin-right: 10px;
    margin-left: 0px;
    padding: 0px;
    text-align: center;
}

.row h1 {
  text-align: center;
  margin: auto;
  width: 100%;
}

body {
  background-color: #bdc3c7;
  font-family: Calibri, sans-serif;
}

.btn {
  font-weight: bold;
  margin: 4px;
  cursor: pointer;
}

.text_align_center {
  text-align: center;
  width: 100%;
}